<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xlm.meishichina"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />

    <application
        android:name="com.xlm.meishichina.ui.MeishiApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="com.xlm.meishichina.ui.activity.SplashActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xlm.meishichina.ui.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.xlm.meishichina.ui.activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.xlm.meishichina.ui.activity.RegistActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.xlm.meishichina.ui.activity.HistoryActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.xlm.meishichina.ui.activity.RecipeDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.xlm.meishichina.ui.activity.UploadReportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.xlm.meishichina.ui.activity.PictureShowActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.xlm.meishichina.ui.activity.PersonalActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.xlm.meishichina.ui.activity.ReportDetailActivity"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.xlm.meishichina.ui.activity.RecipeListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.umeng.fb.ui.SendFeedback"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.umeng.fb.ui.FeedbackConversations"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.umeng.fb.ui.FeedbackConversation"
            android:configChanges="keyboard"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.waps.OffersWebView"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!-- 以下属性为应用ID,从万普后台获取 -->
        <meta-data
            android:name="WAPS_ID"
            android:value="e6c5c0454b569db436d9c46ab8c4a036" />
        <!-- 以下属性为分发渠道ID,编码表参见本文档末附表 -->
        <meta-data
            android:name="WAPS_PID"
            android:value="aimi8" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="513558cb5270154996000067" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="aimi8" />

        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:exported="true"
            android:process=":DownloadingService" >
        </service>
    </application>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUT_UMONT_FILESYSTEM" />
    <uses-permission android:name="android.permission.GET_TASKS" />

</manifest>